<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/developers/add}" th:utext="#{navbar.addDeveloper}">Add Developer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/games/add}" th:utext="#{navbar.addGame}">Add Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/developers}" th:utext="#{navbar.viewDevs}">View Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/games}" th:utext="#{navbar.viewGames}">View Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/filterDevelopers}" th:utext="#{navbar.filterDevelopers}">Filter Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/filterGames}" th:utext="#{navbar.filterGames}">Filter Games</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>