<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../styles/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Add Developer</a></li>
            <li><a th:href="@{/games/add}">Add Game</a></li>
            <li><a th:href="@{/developers}">All Developers</a></li>
            <li><a th:href="@{/games}">All Games</a></li>
        </ul>
    </nav>

    <form method="POST">
        <label for="firstName">First name:</label><input type="text" id="firstName" name="firstName" required><br>
        <label for="surname">Surname: </label><input type="text" id="surname" name="surname" required><br>
        <label for="birthDate">Date of birth</label><input type="date" id="birthDate" name="birthDate" required>
        <div th:each="game: ${games}">
            <!--Shows error?-->
            <input type="checkbox" name="games" th:value="${game.id}">
            <label th:for="${game.id}" th:text="${game.name}"></label>
        </div>
        <input type="submit" value="Add Developer">
    </form>
</body>
</html>