<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/developers/add}">Add Developer</a></li>
            <li><a href="#">Add Game</a></li>
            <li><a th:href="@{/developers}">All Developers</a></li>
            <li><a th:href="@{/games}">All Games</a></li>
        </ul>
    </nav>

    <form id="addGameForm" method="POST">
        <!--TODO: finish-->
        <label for="name">Name:</label><input type="text" id="name" name="name" required><br>
        <label for="rating">Rating: </label><input type="number" step="0.1" id="rating" name="rating" required><br>
        <label for="releaseDate">Release date:</label><input type="date" id="releaseDate" name="releaseDate" required><br>
        <span>Genre:</span>
        <div th:each="genre: ${genres}">
            <!--Shows error?-->
            <input type="checkbox" name="genres" th:value="${genre}">
            <label th:for="${genre.getName()}" th:text="${genre.getName()}"></label>
        </div>
        <span>Developed by:</span>
        <div th:each="developer : ${developers}">
            <input type="checkbox" name="developers" th:value="${developer.id}">
            <label th:for="${developer.id}" th:text="${developer.firstName}"></label>
        </div>
        <span>Platform: </span>
        <div th:each="platform : ${platforms}">
            <input type="checkbox" name="platforms" th:value="${platform.id}">
            <label th:for="${platform.id}" th:text="${platform.platformName}"></label>
        </div>
        <input type="submit" value="Add Game">
    </form>
</body>
</html>
