<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/developers/add}">Add Developer</a></li>
            <li><a th:href="@{/games/add}">Add Game</a></li>
            <li><a href="#">All Developers</a></li>
            <li><a th:href="@{/games}">All Games</a></li>
        </ul>
    </nav>
    <table class="tableDevelopers">
        <tr class="tableHeader">
            <th>First name</th>
            <th>Surname</th>
            <th>Birth date</th>
            <th>Developed games</th>
        </tr>
        <tr th:each="developer: ${developers}">
            <td th:text="${developer.getFirstName()}">First name</td>
            <td th:text="${developer.getSurname()}">Surname</td>
            <td th:text="${developer.getBirthDate()}">Birth date</td>
            <td th:text="${developer.getGames()}">Games</td>
        </tr>
    </table>
</body>
</html>