<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/developers/add}">Add Developer</a></li>
            <li><a th:href="@{/games/add}">Add Game</a></li>
            <li><a th:href="@{/developers}">All Developers</a></li>
            <li><a href="#">All Games</a></li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Release date</th>
            <th>Genres</th>
            <th>Platforms</th>
            <th>Developers</th>
        </tr>
        <tr th:each="game: ${games}">
            <td th:text="${game.getName()}">Name</td>
            <td th:text="${game.getRating()}">Rating</td>
            <td th:text="${game.getReleaseDate()}">Release date</td>
            <td th:text="${game.getGenres()}">Genres</td>
            <td th:text="${game.getPlatforms()}">Platforms</td>
            <td th:text="${game.getDevelopers()}">Developers</td>
        </tr>
    </table>
</body>
</html>