* {
    margin: 0;
    padding: 0;
}

table {
    margin: 10% 10% 0 10%;
    width: auto;
    border: 1px solid black;
}

table *{
    padding: 3px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #555555;
}

li {
    float: right;
}

li a {
    display:block;
    text-decoration: none;
    color: azure;
    text-align: center;
    padding: 1em 1em;
}

li a:hover{
    background: #222222;
}

/*
Smaller table
*/
.tableDevelopers{
    margin-left: auto;
    margin-right: auto;
}
