<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>

    <div class="container m-4 text-center mx-auto">
        <div class="row">
            <div class="col">
                <h1 th:utext="#{detailsDeveloper.name}">Name</h1>
                <h3 th:text="${developer.toString()}">Name</h3>
            </div>
            <div class="col">
                <h1 th:utext="#{detailsDeveloper.DOB}">Date of birth</h1>
                <h3 th:text="${developer.getBirthDate()}">Date of birth</h3>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h1 class="mt-2" th:utext="#{detailsDeveloper.devGames}">Developed Games</h1>
                <ul class="list-unstyled">
                    <li th:each="game : ${developer.getGames()}">
                        <h4 th:text="${game.getName()}">Game</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>