<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>

    <div class="m-4">
        <h1 th:utext="#{filterGames.title}">Filter games by rating higher than given + rating higher than given and release date higher than given:</h1>
        <form method="post" th:object="${filterGameDTO}">
            <label for="rating" th:utext="#{filterGames.labelRating}">Filter by rating higher than or equal</label>
            <input type="number" step="0.1" name="rating" id="rating" required><br>

            <label for="releaseDate" class="mt-4" th:utext="#{filterGames.labelReleaseDate}">Filter by release date higher than or equal (optional)</label>
            <input type="date" name="releaseDate" id="releaseDate"><br>

            <input type="submit" class="btn btn-primary mt-4" value="Submit">
        </form>
        <div class="table-responsive mt-4 d-sm-flex">
            <table class="table table-bordered table-striped-cols">
                <thead class="thead-dark">
                <tr>
                    <td class="col" th:utext="#{filterGames.name}">Name</td>
                    <td class="col" th:utext="#{filterGames.rating}">Rating</td>
                    <td class="col" th:utext="#{filterGames.releaseDate}">Release date</td>
                    <td class="col" th:utext="#{filterGames.genres}">Genres</td>
                    <td class="col" th:utext="#{filterGames.platforms}">Platforms</td>
                    <td class="col" th:utext="#{filterGames.developers}">Developers</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="game: ${foundGames}">
                        <td>
                            <a class="link-primary text-decoration-none" th:href="@{/games/detailsGame(gameID=${game.getId()})}" th:text="${game.getName()}">Game</a>
                        </td>
                        <td th:text="${game.getRating()}">Rating</td>
                        <td th:text="${game.getReleaseDate()}">Release date</td>
                        <td th:text="${game.getGenres()}">Genres</td>
                        <td th:text="${game.getPlatforms()}">Platforms</td>
                        <td th:text="${game.returnDeveloperNames()}">Developers</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>