<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>

    <div class="m-4">
        <h1 th:utext="#{filterDevelopers.title}">Filter developers by first name:</h1>
        <form method="post" th:object="${filterDeveloperDTO}">
            <label for="firstName" th:utext="#{filterDevelopers.label}">Filter by first name</label>
            <input type="text" name="firstName" id="firstName"><br>

            <input type="submit" class="btn btn-primary mt-4" value="Submit">
        </form>

        <div class="table-responsive mt-4 d-sm-flex">
            <table class="table table-bordered table-striped-cols">
                <thead class="thead-dark">
                <tr>
                    <td class="col" th:utext="#{filterDevelopers.firstName}">First name</td>
                    <td class="col" th:utext="#{filterDevelopers.surname}">Surname</td>
                    <td class="col" th:utext="#{filterDevelopers.DOB}">Birth date</td>
                    <td class="col" th:utext="#{filterDevelopers.devGames}">Developed games</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="developer: ${foundDevelopers}">
                    <td>
                        <a class="link-primary text-decoration-none" th:href="@{/developers/detailsDeveloper(developerID=${developer.getId()})}" th:text="${developer.getFirstName()}">First name</a>
                    </td>
                    <td>
                        <a class="link-primary text-decoration-none" th:href="@{/developers/detailsDeveloper(developerID=${developer.getId()})}" th:text="${developer.getSurname()}">surname</a>
                    </td>
                    <td th:text="${developer.getBirthDate()}">Birth date</td>
                    <td th:text="${developer.getGames()}">Games</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>