<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <div class="table-responsive m-3 d-sm-flex">
        <table class="table table-bordered table-striped-cols">
            <thead class="thead-dark">
                <tr>
                    <td class="col" th:utext="#{developers.firstName}">First name</td>
                    <td class="col" th:utext="#{developers.surname}">Surname</td>
                    <td class="col" th:utext="#{developers.DOB}">Birth date</td>
                    <td class="col" th:utext="#{developers.devGames}">Developed games</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="developer: ${developers}">
                    <td>
                        <a class="link-primary text-decoration-none" th:href="@{/developers/detailsDeveloper(developerID=${developer.getId()})}" th:text="${developer.getFirstName()}">First name</a>
                    </td>
                    <td>
                        <a class="link-primary text-decoration-none" th:href="@{/developers/detailsDeveloper(developerID=${developer.getId()})}" th:text="${developer.getSurname()}">surname</a>
                    </td>
                    <td th:text="${developer.getBirthDate()}">Birth date</td>
                    <td th:text="${developer.getGames()}">Games</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>