<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <div class="table-responsive m-3 d-sm-flex">
        <table class="table table-bordered table-striped-cols">
            <thead class="thead-dark">
                <tr>
                    <td class="col" th:utext="#{games.name}">Name</td>
                    <td class="col" th:utext="#{games.rating}">Rating</td>
                    <td class="col" th:utext="#{games.relDate}">Release date</td>
                    <td class="col" th:utext="#{games.genres}">Genres</td>
                    <td class="col" th:utext="#{games.platforms}">Platforms</td>
                    <td class="col" th:utext="#{games.developers}">Developers</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game: ${games}">
                    <td>
                        <a class="link-primary text-decoration-none" th:href="@{/games/detailsGame(gameID=${game.getId()})}" th:text="${game.getName()}">Game</a>
                    </td>
                    <td th:text="${game.getRating()}">Rating</td>
                    <td th:text="${game.getReleaseDate()}">Release date</td>
                    <td th:text="${game.getGenres()}">Genres</td>
                    <td th:text="${game.getPlatforms()}">Platforms</td>
                    <td th:text="${game.getDeveloperNames()}">Developers</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>