<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <form method="POST" class="mt-4 w-50 mx-auto">
        <label for="name" th:utext="#{addGame.name}">Name:</label><input type="text" id="name" name="name" class="form-control" placeholder="Game" required>
        <label for="rating" th:utext="#{addGame.rating}">Rating (out of 10): </label><input type="number" step="0.1" id="rating" name="rating" class="form-control" placeholder="7.5" required>
        <label for="releaseDate" th:utext="#{addGame.relDate}">Release date:</label><input type="date" id="releaseDate" name="releaseDate" class="form-control" required>
        <span th:utext="#{addGame.genre}">Genre:</span>
        <div th:each="genre: ${genres}">
            <input type="checkbox" name="genres" th:value="${genre}" class="form-check-input">
            <label th:for="${genre.getName()}" th:text="${genre.getName()}" class="form-check-label"></label>
        </div>
        <span th:utext="#{addGame.devBy}">Developed by:</span>
        <div th:each="developer : ${developers}">
            <input type="checkbox" name="developers" th:value="${developer.id}" class="form-check-input">
            <label th:for="${developer.id}" th:text="${developer.firstName}" class="form-check-label"></label>
        </div>
        <span th:utext="#{addGame.platform}">Platform: </span>
        <div th:each="platform : ${platforms}">
            <input type="checkbox" name="platforms" th:value="${platform.id}" class="form-check-input">
            <label th:for="${platform.id}" th:text="${platform.platformName}" class="form-check-label"></label>
        </div>
        <div class="row">
            <input type="submit" th:value="#{addGame.submit}" value="Add Game" class="btn btn-primary w-25 mx-auto">
        </div>
    </form>
</body>
</html>
