<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.1 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <form method="post" th:object="${developerDTO}" class="mt-4 w-50 mx-auto">
        <div class="form-group">
            <label for="firstName" th:utext="#{addDeveloper.firstName}">First name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="John" th:field="*{firstName}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name error</div>
        </div>
        <div class="form-group">
            <label for="surname" th:utext="#{addDeveloper.surname}">Surname: </label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Doe" th:field="*{surname}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
        </div>
        <div class="form-group">
            <label for="birthDate" th:utext="#{addDeveloper.DOB}">Date of birth:</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control" th:field="*{birthDate}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">DOB error</div>
        </div>
        <span th:utext="#{addDeveloper.devGames}">Developed games:</span>
        <div th:each="game: ${games}" class="form-group">
            <label th:for="${game.id}" th:text="${game.name}" class="form-check-label"></label>
            <input type="checkbox" name="games" th:value="${game.id}" class="form-check-input">
        </div>
        <div class="row">
            <input type="submit" th:value="#{addDeveloper.submit}" value="Add Developer" class="btn btn-primary w-25 mx-auto">
        </div>
    </form>
</body>
</html>